 <nav class="">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  <div class="wrapper">
    <nav id="sidebar" class="justify-content-center">
      <div class="w-100 d-flex justify-content-center">
        <img src="assets/img/logo.png" alt="Connect Logo" width="80px">
      </div>
      <div class="container-fluid mt-5">
        <div class="row py-3 list-item">
          <div class="col-3 px-0 offset-1">
            <div class="h-100 d-flex justify-content-center align-content-center">
              <div><i class="fas fa-info-circle"></i></div>
            </div>
          </div>
          <div class="col-8 px-0">
            <div class="h-100 d-flex align-items-center">
              <a href="dashboard.html">Dashboard</a>
            </div>
          </div>
        </div>

        <div class="row py-3 list-item">
          <div class="col-3 px-0 offset-1">
            <div class=" h-100 d-flex justify-content-center align-content-center">
              <div><i class="fas fa-info-circle"></i></div>
            </div>
          </div>
          <div class="col-8 px-0">
            <div class="h-100 d-flex align-items-center">
              <div class="dropdown w-100">
                <a class="p-0 d-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sub Menu
                </a>
                <div class="dropdown-menu pb-0 w-100">
                  <a href="items.html" class="d-block" type="button">
                    <i class="fa pr-2 fa-file-alt"></i>
                    All
                  </a>
                  <a href="specific_item.html" class="d-block" type="button">
                    <i class="fa pr-2 fa-file-medical"></i>
                    Add
                  </a>
                  <a href="specific_item.html" class="d-block" type="button">
                    <i class="fa pr-2 fa-file-medical-alt"></i>
                    Edit
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row py-3 list-item">
          <div class="col-3 px-0 offset-1">
            <div class=" h-100 d-flex justify-content-center align-content-center">
              <div><i class="fas fa-power-off"></i></div>
            </div>
          </div>
          <div class="col-8 px-0">
            <div class=" h-100 d-flex align-items-center">
              <a href="">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="content" class="mt-5">
      <div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
        <div class="container-fluid">
          <div class="row mb-5">
            <div class="col-md-8 col-12 text-center text-md-left">
              <!-- TODO: -->
              <h2 class="px-3 mb-0">System Name</h2>
            </div>
            <div class="col-md-4 col-12 text-center">
              <div class="">
                <h6 class="text-lg-right p-2 px-3 mb-0">
                  <i class="fas fa-user-tag ml-1"></i>
                  <!-- TODO: -->
                  <span>Username</span>
                </h6>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-xl-4 col-12 mb-5">
              <div class="card text-center border-0 shadow hover-shadow">
                <div class="card-body pt-4 pb-2 px-2">
                  <i class="fa fa-user-friends fa-3x"></i>
                  <h5 class="">
                    Users
                  </h5>
                  <h6 class="mt-2"><span>22</span> user</h6>
                  <hr class="mb-2 mt-4">
                  <a href="items.html" class="w-100 d-block btn btn-light btn-sm rounded">See More</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12 mb-5">
              <div class="card text-center border-0 shadow hover-shadow">
                <div class="card-body pt-4 pb-2 px-2">
                  <i class="fa fa-user-friends fa-3x"></i>
                  <h5 class="">
                    Users
                  </h5>
                  <h6 class="mt-2"><span>22</span> user</h6>
                  <hr class="mb-2 mt-4">
                  <a href="items.html" class="w-100 d-block btn btn-light btn-sm rounded">See More</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12 mb-5">
              <div class="card text-center border-0 shadow hover-shadow">
                <div class="card-body pt-4 pb-2 px-2">
                  <i class="fa fa-user-friends fa-3x"></i>
                  <h5 class="">
                    Users
                  </h5>
                  <h6 class="mt-2"><span>22</span> user</h6>
                  <hr class="mb-2 mt-4">
                  <a href="items.html" class="w-100 d-block btn btn-light btn-sm rounded">See More</a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row mt-5">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-center w-100">
                <div class="p-2 footer-button">
                  <a href="https://twitter.com/CONNECT_LYB" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>
                <div class="p-2 footer-button">
                  <a href="https://www.facebook.com/connectlibya" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div class="p-2 footer-button">
                  <a href="tel:+218913494148">
                    <i class="fas fa-phone"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mb-4 mt-2 ">
            <div class="col-12">
              <h6 class="text-center neue-light">ION Telecom and technology © <span id="year">2020</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->