<div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 col-12 text-center text-md-left">
        <!-- TODO: -->
        <h2 class="px-3 mb-0">{{'GENERAL.system_name' | translate}}</h2>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="">
          <h6 class="text-lg-right p-2 px-3 mb-0">
            <i class="fas fa-user-tag ml-1"></i>
            <!-- TODO: -->
            <span>Username</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="card mt-2 hover-shadow">
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
                <!-- TODO: -->
                <h3 class="mb-4">
                  {{'VIEW.page_title' | translate}}
                  <a routerLink="/create" title="Add New"
                    class="btn btn-success btn-sm float-right rounded shadow-sm hover-shadow">
                    <i class="fa fa-plus mt-1"></i>
                  </a>
                </h3>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-4">
                <div class="alert alert-danger rounded">
                  <i class="fa pr-2 fa-info-circle"></i>
                  <!-- TODO: -->
                  {{'VIEW.error_msg' | translate}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-4">
                <div class="alert alert-success rounded">
                  <i class="fa pr-2 fa-check-circle"></i>
                  <!-- TODO: -->
                  {{'VIEW.success_msg' | translate}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label class="w-100 mb-4">
                  <div class="input-group rtl mt-2">
                    <input type="text" class="form-control" [placeholder]="('VIEW.search' | translate) + '...'">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light p-0 hover-shadow">
                        <button type="submit" title="Search now" class="btn btn-sm btn-light rounded bg-white border-0">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>

                  </div>
                </label>
              </div>
              <div class="col-12 mb-4">
                <div class="hover-shadow table-responsive rounded border border-top-0">
                  <table class="table align-middle table-hover table-striped m-0 text-center">
                    <thead>
                      <tr>
                        <th width="70">{{'VIEW.table.number' | translate | titlecase}}.</th>
                        <th>{{'VIEW.table.title' | translate | titlecase}} 1</th>
                        <th>{{'VIEW.table.title' | translate | titlecase}} 2</th>
                        <th>{{'VIEW.table.title' | translate | titlecase}} 3</th>
                        <th width="150">{{'VIEW.table.actions' | translate | titlecase}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>item</td>
                        <td>value</td>
                        <td>value</td>
                        <td>
                          <a href="specific_item.html" class="btn btn-light px-1 py-0 text-body mr-2"
                            title="More Details">
                            <i class="fa mt-1 fa-edit"></i>
                          </a>
                          <button class="btn btn-light px-1 py-0 text-body" title="Delete">
                            <i class="fa mt-1 fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-outline-info btn-sm rounded px-3 py-0" title="Back to the previous page"
          href="javascript:history.back();">
          <i class="fa fa-angle-left mt-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>