<nav class="">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content" class="mt-5">
        <router-outlet></router-outlet>
        <div class="row mt-5">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-center w-100">
                <div class="p-2 footer-button">
                  <a href="https://twitter.com/CONNECT_LYB" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>
                <div class="p-2 footer-button">
                  <a href="https://www.facebook.com/connectlibya" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div class="p-2 footer-button">
                  <a href="tel:+218913494148">
                    <i class="fas fa-phone"></i>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="row  mb-4">
            <div class="col-12">
                <h6 class="text-center neue-light">ION Telecom and technology © <span id="year">2020</span></h6>
            </div>
        </div>
    </div>
</div>